## Неделя 12. Домашнее задание по отбору признаков.

Гугл форма для ответов: https://forms.gle/NFq4qYr4fKFUdhdz7

### Теоретические вопросы:
1) Какая группа методов отбора признаков является наиболее вычислительно затратной?
    1. Filter methods (методы фильтрации)
    2. Embedded methods (встроенные методы)
    3. Wrapper methods (методы обёртки)
    
2) Какая группа методов отбора признаков используется ДО обучения модели?
    1. Filter methods (методы фильтрации)
    2. Embedded methods (встроенные методы)
    3. Wrapper methods (методы обёртки)
    
3) Какой из нижеперечисленных методов отбора признаков относится к методам фильтрации?
    1. Recursive feature elimination
    2. LASSO
    3. Метод на основе chi-squared
    
4) Какой из нижеперечисленных методов отбора признаков относится к встроенным методам?
    1. Recursive feature elimination
    2. LASSO
    3. Метод на основе chi-squared
    
5) Какой из нижеперечисленных методов отбора признаков относится к методам обёртки?
    1. Recursive feature elimination
    2. LASSO
    3. Метод на основе chi-squared

### Практическая часть.

In [34]:
import pandas as pd
import numpy as np

from sklearn.tree import DecisionTreeClassifier
from sklearn.feature_selection import SelectKBest, chi2, RFE

import seaborn as sns

**Описание контекста задачи**
В некоторой компании занимающейся услугами мобильной связи для клиентов доступны дополнительные платные услуги A, B и C,которые взаимоисключают друг друга. Руководство компании хочет построить модель, которая будет для каждого клиента определять наиболее подходящую ему услугу для таргетированной рекламы этих услуг внутри компании.
**Описание датасета**
Каждая строка в датасете определяет одного клиента компани и дополнительную услугу.
В датасете имеются следующие колонки:
- age: возраст клиента
- No: номер договора
- month_from_start: количество месяцев с даты заключения договора
- base_cost: стоимость основного тарифа в рублях
- block_count: количество блокировок
- is_used_app: использует ли мобильное приложение
- month_incall_mean: среднее количество входящих звонков в месяц
- month_outcall_mean: среднее количество исходящих звонков в месяц
- add_service: дополнительная платная услуга

In [2]:
df = pd.read_csv('mobile_service.csv')

In [9]:
df

,age,No,month_from_start,base_cost,block_count,is_used_app,month_incall_mean,month_outcall_mean,add_service
0,35.0,768371537,42,220,1,0,340.235037,67.000000,2
1,40.0,38583605,17,190,4,0,62.524493,182.524493,3
2,40.0,769467030,56,350,1,0,354.886642,408.886642,2
3,41.0,91661755,26,220,4,0,311.985570,326.985570,3
4,52.0,5615024,14,220,3,0,421.616580,15.000000,2
...,...,...,...,...,...,...,...,...,...
1295,42.0,855036168,44,350,3,0,208.059154,528.118308,2
1296,32.0,28467625,38,350,0,0,87.673514,235.673514,2
1297,56.0,425421555,59,350,2,0,30.000000,52.000000,3
1298,34.0,111126473,32,190,0,0,237.146967,241.146967,3
1299,24.0,183044588,5,350,2,0,20.000000,88.506688,2

In [4]:
X = df.drop('add_service', axis=1).copy()
y = df['add_service'].copy()

**Вопрос 6.** Какие два признака будут исключены из датасета если использовать метод отбора признаков, основанный на статистике хи-квадрат c конечным количеством признаков 6 (9 всего - 1 таргет - 2 признака)? В ответе выберите нужные признаки.

In [12]:
# код тут
sel_k_best = SelectKWo(chi2, k=6)
sel_k_best.fit(X, y)

SelectKBest(k=6, score_func=<function chi2 at 0x00000179EDFBD3A8>)

In [13]:
X_selected = pd.DataFrame(sel_k_best.transform(X),
                    columns=[a for a,b in zip(df.columns,sel_k_best.get_support()) if b])

In [18]:
chi2_cols = X_selected.columns
set(chi2_cols)

{'No',
 'age',
 'is_used_app',
 'month_from_start',
 'month_incall_mean',
 'month_outcall_mean'}

In [30]:
set(df.columns)

{'No',
 'add_service',
 'age',
 'base_cost',
 'block_count',
 'is_used_app',
 'month_from_start',
 'month_incall_mean',
 'month_outcall_mean'}

base_cost, block_count

**Вопрос 7.** Какие два признака будут присутствовать в датасете если использовать метод отбора признаков RFE, с параметрами estimator=sklearn.tree.DecisionTreeClassifier и step=1 c конечным количеством признаков 3 с различными random_state? В ответе выберите нужные признаки.

In [46]:
# код тут
random = [1,2,30]
d = []
for r in random:       
    rfe = RFE(DecisionTreeClassifier(random_state=r), step=1, n_features_to_select=2)
    rfe.fit(X, y)
    X_selected = pd.DataFrame(rfe.transform(X),
                    columns=[a for a,b in zip(df.columns,rfe.get_support()) if b])
    rfe_w_cols_lreg = X_selected.columns
    d.append(rfe_w_cols_lreg)

In [47]:
d

[Index(['age', 'month_outcall_mean'], dtype='object'),
 Index(['age', 'month_outcall_mean'], dtype='object'),
 Index(['age', 'month_outcall_mean'], dtype='object')]

**Вопрос 8.** Какие два признака в датасете имеют коэффициент корреляции > 0.5 (между собой, не с таргетом)? В ответе выберите нужные признаки.

In [48]:
# код тут
df.corr()

,age,No,month_from_start,base_cost,block_count,is_used_app,month_incall_mean,month_outcall_mean,add_service
age,1.000000,0.020843,0.016129,-0.005241,0.011103,0.046018,-0.044111,-0.053912,0.521775
No,0.020843,1.000000,-0.075299,0.040723,-0.026112,-0.022328,0.007470,0.005794,-0.000647
month_from_start,0.016129,-0.075299,1.000000,0.007472,0.001757,-0.013250,0.031683,-0.029484,-0.095904
base_cost,-0.005241,0.040723,0.007472,1.000000,0.012973,0.007132,0.028577,0.034327,-0.015458
block_count,0.011103,-0.026112,0.001757,0.012973,1.000000,0.012788,0.030286,0.012282,-0.006744
is_used_app,0.046018,-0.022328,-0.013250,0.007132,0.012788,1.000000,-0.017679,0.010767,-0.083752
month_incall_mean,-0.044111,0.007470,0.031683,0.028577,0.030286,-0.017679,1.000000,0.567645,-0.043212
month_outcall_mean,-0.053912,0.005794,-0.029484,0.034327,0.012282,0.010767,0.567645,1.000000,-0.099839
add_service,0.521775,-0.000647,-0.095904,-0.015458,-0.006744,-0.083752,-0.043212,-0.099839,1.000000

month_outcall_mean, month_incall_mean

In [52]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = DecisionTreeClassifier()
model.fit(X_train, y_train)
predicted = model.predict(X_test)
score = accuracy_score(y_test, predicted)
print(score)

0.7076923076923077